
<head>
  <title> Fumble </title>

  <!-- Specify preconnect hosts if needed -->
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" />

  <!-- Include remote libraries -->

  <link rel="stylesheet" href="static/css/style.css" />
</head>