<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/navbar"); %>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <h1><%= heading %></h1>
      </div>
    </div>

  </body>
</html>
